* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(img/1.jpg);
  background-size: cover;
  box-sizing: border-box;
  font-family: "sans-serif", Verdana, Geneva, Tahoma;
}
nav {
  background-color: rgb(0, 100, 0);
  width: 100vw;
  height: 56px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
  margin: 14px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  align-self: center;
  padding: 16px;
}
.on a,
nav > ul li a:hover {
  background-color: #2bab0d;
  border-radius: 5px;
  padding: 10px 16px;
}
.sub1 {
  position: absolute;
  background: rgb(0, 100, 0);
  margin: -5px 0 0 6px;
  /* height: 140px; */
  height: 0px;
  width: 250px;
  /* display: none; */
  border-radius: 5px;
  overflow: hidden;
}
.sub1 ul {
  display: block;
}
.sub1 ul li {
  padding: 5px 0px 5px 0px;
  border-bottom: 1px dotted #fff;
}
.sub1 ul li a {
  padding-right: 0px;
}
.sub1 ul li a:hover {
  background: transparent;
  color: #b2ff00;
  text-align: left;
}
.sub1 ul li:last-child,
.show2 .last {
  border: none;
}



.sub2{
  background: rgb(0, 100, 0);
  display: none;
  z-index: 999;
  height: 0;
  overflow: hidden;
}
.sub2 ul li{
  margin-left: 50px;
}
.sub2 ul li {
  padding: 5px 0px;
  border-bottom: 1px dotted #fff;
}
.sub2 ul li a:hover {
  background: transparent;
  color: #b2ff00;
}
.sub2 ul li:last-child {
  border: none;
}





.social-media {
  /* height: 230px; */
  height: 0px;
  border-radius: 5px;
}
.fa {
  margin-right: 8px;
}
.fa-solid {
  float: right;
}
.fa-brands {
  float: left;
  font-size: 20px;
}











.showopt{
  height: auto;
  display: block;
}